<div class="social-share">
  <h4>Share on</h4>
  <ul class="cleaned_list">
    <li class="share">
      <a href="https://twitter.com/intent/tweet?text={{ site.github.url }}{{ page.url }}" class="twitter" title="Share on Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="share">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}" class="facebook" title="Share on Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="share">
      <a href="https://plus.google.com/share?url={{ site.github.url }}{{ page.url }}" class="google-plus" title="Share on Google Plus">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
  </ul>
</div><!-- /.social-share -->
