<!DOCTYPE html>
<html lang="en">

    <head>
        {% include _basic_head.html %}
    </head>

    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark header fixed-top">
                <a class="navbar-brand" href="javascript:void(0)">~Lex-Github-Blog~</a>
            </nav>
        </header>

        <main>
            <div class="space"></div>

            {% include _browser-upgrade.html %}

            <div class="row">

                {% include _basic_author_bio.html %}

                <div class="col-md-9 col-lg-9">
                    <h2>~{{ page.title }}~</h2>

                    {{ content }}

                    {% if page.share != false %}{% include _social-share.html %}{% endif %}

                    {% if site.owner.disqus-shortname and page.comments == true %}
                        <section id="disqus_thread"></section><!-- /#disqus_thread -->
                    {% endif %}

                    <div class="footer-wrap">
                      {% if site.related_posts.size > 0 %}
                            <div class="related-articles">
                                <h4>You might also enjoy <small class="pull-right">
                                    (<a href="{{ site.github.url}}/posts/">View all posts</a>)
                                </small></h4>
                            <ul>
                                {% for post in site.related_posts limit:3 %}
                                     <li>
                                         <a href="{{ site.github.url }}{{ post.url }}" title="{{ post.title }}">
                                             {{ post.title }}
                                         </a>
                                     </li>
                                {% endfor %}
                            </ul>
                            <hr />
                            </div>
                      {% endif %}
                    </div>

                    <footer class="centered">
                        <div class="space"></div>
                        <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
                        {% include _basic_footer.html %}
                    </footer>
                </div>
            </div>
        </main>

        {% include _basic_scripts.html %}

    </body>

</html>